.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.span-2 {
  grid-column: 7 / span 2;
}

.statName {
  font-family: NotoSerif-Regular, serif;
  font-weight: bold;
}